# This file specifies files that are *untracked by git* that should not be uploaded to Cloud Build
# By default, gcloud uses .gitignore, so we only need to specify additional exclusions

# Don't upload node_modules (will be installed during build)
node_modules/

# Don't upload build artifacts (will be generated during build)
dist/

# Don't upload development files
test-api.ts
deploy-*.sh
